.wrapper {
  display: flex;
  max-width: 490px;
  width: 100vw;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 5px;
  padding-bottom: 25px;

  background-color: var(--color-alpha);
  transition: transform .2s ease-in;
}

.button {
  transition: background-color 0.2s ease-out;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.selected {
  background-color: rgba(#fff, 0.25);
}

.hide {
  transform: translateX(-50%) translateY(75px);
}