.page {
  background-color: var(--color-alpha);
  padding: 0 20px;
  margin: 0 auto;

  min-height: 100vh;
  min-height: -webkit-fill-available;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.scrollable {
  margin: 0 auto 50px;
}