.wrapper {
  margin: 0 0 30px;
  max-width: 300px;
  display: flex;
  align-items: center;
  height: 50px;

  .image {
    height: 50px;
    border-radius: 50%;
  }

  .text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-size: 20px;
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 5px;
    }
    
    .description {
      font-size: 14px;
      line-height: 100%;
    }
  }
}